{% extends "template.html" %}
{% block content %}
<div class="col-8 mx-auto mt-4">
    <h1 class="">All Beers(0)</h1>
    <h1></h1>
        <table class="table table-striped custom-table">
            <thead>
                <tr>
                    <th>Beer</th>
                    <th>Brewery</th>
                    <th>Style</th>
                    <th>ABV</th>
                    <th>IBU</th>
                    <th>Average Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for one_beer in all_beers %}
                    <tr>
                        <td>{{one_beer.name}}</td>
                        <td>{{one_beer.brewery}}</td>
                        <td>{{one_beer.style}}</td>
                        <td>{{one_beer.ABV}}</td>
                        <td>{{one_beer.IBU}}</td>
                        <!-- <td>Average Rating</td> -->
                        <td>
                            <a href="/beer/{{one_beer.id}}/favorite">Favorite</a>
                            <a href="/beer/{{one_beer.id}}/rate">Rate</a>
                            <a href="/beer/{{one_beer.id}}/view">View</a>
                            <!-- {# if .user_id == session.user_id #} -->
                            <!-- <a href="#">Edit</a>
                            <a href="#">Delete</a> -->
                            <!-- {# endif #} -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}